<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!--display variable-->
    <%=name%>

    <!--conditional statement-->\
    <%if(userId ===20){ %>
        <h1>User ID:<%userId%></h1>
        <% } else if (userId ===40){%>
            <h2>userId:<%userId%></h2>
            <%} else {%>
                <h1>nothing..</h1>
                <%}%>
    
</body>
</html>